@charset "utf-8";

* {
  padding:0;
  margin: 0;

  ::selection {
    background: #222;
    color: #fafafa;
  }

  html {
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

    &.theme-change-active {
      animation: fade-in ease-out 0.6s;
    }
  }
}


body {
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  line-height:1.5;
  display: flex;
  flex-flow: column nowrap;
  hyphens: auto;
}

pre {
  overflow: auto;
  font:1rem "SF Mono", monospace;
  padding:1rem;
  border-radius: 4px;
}

code {
  font:1rem "SF Mono", monospace;
}

a:link {
  text-decoration: none;
  color:royalblue;
}

a:hover {
}

a:visited {
}

h1, h2, h3, h4, h5 {
  .anchor {
    visibility: hidden;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
    padding-left:1rem;
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}


h2, h3 {
}

h1 {
}

nav {
  button {
  }

  ul {
  }

  em {
  }
}

main {
  display: flex;
  flex-flow: column nowrap;

  p {
  }

  article {
    ul, ol {
      list-style-position: inside;
    }

    a:visited {
      color:blueviolet;
    }
  }

  img {
    max-width:100%;
  }
}

#toc {
  list-style: none;

  ul {
    list-style: none;
  }
}

@media screen and (max-width: 1023px) {

  body {
    font-size:1rem;
  }

  nav, main {
  }

  #mobile {
    display: block;
    outline:none;
  }

  select {
    font-size:1.375rem;
  }

  .search-results__items {
    list-style-position:inside;
  }
}
