hello from tera


redis: {{ redis }}
postgres: {{ postgres }}
ping: {{ ping }}

force: {{ force }}
honeycomb: {{ honeycomb }}
selftest: {{ selftest }}
githubci: {{ githubci }}

filename: {{ filename }}
