{
  "name": "<$ service $>",
  "version": "1.0.0",
  "description": "<$ description $>",
  "main": "boltzmann.js",
  "scripts": {
    "pretest": "docker-compose up -d",
    "test": "tap test",
    "posttest": "npm run lint",
    "lint": "standard",
    "prestart": "docker-compose up -d",
    "start": "node -r dotenv/config boltzmann.js"
  },
  "dependencies": {
    "are-we-dev": "^1.0.0",
    "culture-ships": "^1.0.0",
    "find-my-way": "^2.2.1",
    "ajv": "^6.10.2",
    "dotenv": "^8.1.0",
    "pino": "^5.13.6",
    <% if honeycomb %>"honeycomb-beeline": "^1.8.3",<% endif %>
    <% if honeycomb %>"on-headers": "^1.0.2",<% endif %>
    <% if postgres %>"pg": "^7.12.1",<% endif %>
    <% if redis %>"handy-redis": "^1.6.2",<% endif %>
    <% if redis %>"redis": "^2.8.0",<% endif %>
    "accepts": "^1.3.7"
  },
  "devDependencies": {
    "@hapi/shot": "^4.1.2",
    "babel-eslint": "^10.0.3",
    "pino-pretty": "^3.2.2",
    "standard": "^14.3.1",
    "tap": "^14.6.7"
  },
  "standard": {
    "parser": "babel-eslint",
    "ignore": [
      "boltzmann.js"
    ]
  }
}
