[
  DependencySpec(
    name: "are-we-dev",
    version: "^1.0.0",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "uuid",
    version: "^8.3.0",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "es-main",
    version: "^1.0.2",
    kind: Normal,
    preconditions: Some(When(
      feature: Some("esm"),
      if_not_present: []
    ))
  ),
  DependencySpec(
    name: "nunjucks",
    version: "^3.2.1",
    kind: Normal,
    preconditions: Some(When(
      feature: Some("templates"),
      if_not_present: []
    ))
  ),
  DependencySpec(
    name: "culture-ships",
    version: "^1.0.0",
    kind: Normal,
    preconditions:  None
  ),
  DependencySpec(
    name: "find-my-way",
    version: "^2.2.1",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "bole",
    version: "^4.0.0",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "jsonwebtoken",
    version: "^8.5.1",
    kind: Normal,
    preconditions: Some(When(feature: Some("jwt"),if_not_present: []))
  ),
  DependencySpec(
    name: "ajv",
    version: "^6.12.2",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "dotenv",
    version: "^8.2.0",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "accepts",
    version: "^1.3.7",
    kind: Normal,
    preconditions: None
  ),
  DependencySpec(
    name: "csrf",
    version: "^3.1.0",
    kind: Normal,
    preconditions: Some(When(feature: Some("csrf"),if_not_present: []))
  ),
  DependencySpec(
    name: "honeycomb-beeline",
    version: "^2.1.1",
    kind: Normal,
    preconditions: Some(When(feature: Some("honeycomb"),if_not_present: []))
  ),
  DependencySpec(
    name: "on-headers",
    version: "^1.0.2",
    kind: Normal,
    preconditions: Some(When(  feature: Some("honeycomb"), if_not_present: [] ))
  ),
  DependencySpec(
    name: "pg",
    version: "^7.18.2",
    kind: Normal,
    preconditions: Some(When(  feature: Some("postgres"),if_not_present: [] ))
  ),
  DependencySpec(
    name: "handy-redis",
    version: "^1.8.1",
    kind: Normal,
    preconditions: Some(When( feature: Some("redis"),if_not_present: [] ))
  ),
  DependencySpec(
    name: "redis",
    version: "^3.0.2",
    kind: Normal,
    preconditions: Some(When(feature: Some("redis"),if_not_present: []))
  ),

  DependencySpec(
    name: "cookie",
    version: "^0.4.1",
    kind: Normal,
    preconditions:None
  ),

  DependencySpec(
    name: "tap",
    version: "^14.10.7",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "stackman",
    version: "^4.0.1",
    kind: Development,
    preconditions: Some(When(
      feature: Some("templates"),
      if_not_present: []
    ))
  ),
  DependencySpec(
    name: "get-function-location",
    version: "^2.0.0",
    kind: Development,
    preconditions: Some(When(
      feature: Some("templates"),
      if_not_present: []
    ))
  ),
  DependencySpec(
    name: "@hapi/shot",
    version: "^5.0.4",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "bistre",
    version: "^1.0.1",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "eslint",
    version: "^7.1.0",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "@typescript-eslint/parser",
    version: "^3.1.0",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "@typescript-eslint/eslint-plugin",
    version: "^3.1.0",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "eslint-config-prettier",
    version: "^6.11.0",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "eslint-plugin-prettier",
    version: "^3.1.3",
    kind: Development,
    preconditions: None
  ),
  DependencySpec(
    name: "prettier",
    version: "^2.0.5",
    kind: Development,
    preconditions: None
  ),

]
