Dir(DirSpec(
  children: [
    ("boltzmann.js", 0o755, Template(TemplateSpec(
      template_name: "boltzmann.js"
    )), Some(When(
      none_of: ["typescript"],
    ))),

    ("boltzmann.ts", 0o755, Template(TemplateSpec(
      template_name: "boltzmann.js"
    )), Some(When(
      feature: Some("typescript"),
    ))),

    ("handlers.js", 0o644, Template(TemplateSpec(
      template_name: "handlers_cjs.js"
    )), Some(When(
      none_of: ["esm", "typescript"],
      if_not_present: ["handlers.js", "handlers"]
    ))),

    ("handlers.js", 0o644, Template(TemplateSpec(
      template_name: "handlers_esm.js"
    )), Some(When(
      none_of: ["typescript"],
      feature: Some("esm"),
      if_not_present: ["handlers.js", "handlers"]
    ))),

    ("handlers.ts", 0o644, Template(TemplateSpec(
      template_name: "handlers_esm.js"
    )), Some(When(
      feature: Some("typescript"),
      if_not_present: ["handlers.js", "handlers"]
    ))),

    ("middleware.js", 0o644, Template(TemplateSpec(
      template_name: "middleware_cjs.js",
    )), Some(When(
      none_of: ["esm", "typescript"],
      if_not_present: ["middleware.js", "middleware"]
    ))),

    ("middleware.js", 0o644, Template(TemplateSpec(
      template_name: "middleware_esm.js",
    )), Some(When(
      none_of: ["typescript"],
      feature: Some("esm"),
      if_not_present: ["middleware.js", "middleware"]
    ))),

    ("middleware.ts", 0o644, Template(TemplateSpec(
      template_name: "middleware_esm.js",
    )), Some(When(
      feature: Some("typescript"),
      if_not_present: ["middleware.js", "middleware"]
    ))),

    ("tsconfig.json", 0o644, Template(TemplateSpec(
      template_name: "tsconfig.json",
    )), Some(When(
      feature: Some("typescript"),
      if_not_present: ["tsconfig.json"]
    ))),

    ("nodemon.json", 0o644, Template(TemplateSpec(
      template_name: "nodemon.json",
    )), Some(When(
      if_not_present: ["nodemon.json"]
    ))),

    ("templates", 0o755, Dir(DirSpec(
      children: [
            ("index.html", 0o644, Template(TemplateSpec(
              template_name: "index.html"
            )), None)
      ],
    )), Some(When(
      feature: Some("templates"),
      if_not_present: [ "templates/index.html"]
    ))),

    ("client", 0o755, Dir(DirSpec(
      children: [
            ("greeting.js", 0o644, Template(TemplateSpec(
              template_name: "greeting.js"
            )), None)
      ],
    )), Some(When(
      feature: Some("staticfiles"),
      if_not_present: [ "client/greeting.js"]
    ))),

    (".eslintrc.js", 0o644, Template(TemplateSpec(
      template_name: "eslintrc.js"
    )), Some(When(
      if_not_present: [".eslintrc.js", ".eslintrc"]
    ))),

    (".prettierrc.js", 0o644, Template(TemplateSpec(
      template_name: "prettierrc.js"
    )), Some(When(
      if_not_present: [".prettierrc.js", ".prettierrc" ]
    ))),

    (".github", 0o755, Dir(DirSpec(
      children: [
        ("workflows", 0o755, Dir(DirSpec(
          children: [
            ("test.yml", 0o644, Template(TemplateSpec(
              template_name: "github-action-test.yml"
            )), None)
          ]
        )), None)
      ]
    )), Some(When(
      feature: Some("githubci"),
    ))),

    // jumper module for selftest, to trick tap into
    // reporting test coverage output for boltzmann.js
    ("test.js", 0o644, Template(TemplateSpec(
      template_name: "selftest.js",
    )), Some(When(
      feature: Some("selftest"),
    )))
  ],
))
