[
    RunScriptSpec(
        key: "lint",
        value: "eslint .",
        preconditions: Some(When(
            if_not_present: ["lint"]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "eslint")
        ]
    ),

    RunScriptSpec(
        key: "posttest",
        value: "npm run lint",
        preconditions: Some(When(
            if_not_present: ["posttest"]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "npm run lint")
        ]
    ),

    RunScriptSpec(
        key: "pretest",
        value: "tsc --noEmit",
        preconditions: Some(When(
            if_not_present: ["pretest"],
            all_of: ["typescript"]
        )),
        versions: [
            VersionedScript(version: "0.3.0", value: "tsc --noEmit")
        ]
    ),

    RunScriptSpec(
        key: "test",
        value: "c8 tap --no-cov tests",
        preconditions: Some(When(
            if_not_present: ["test"],
            none_of: ["typescript", "selftest" ]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "tap test"),
            VersionedScript(version: "0.3.0", value: "tap tests"),
        ]
    ),

    RunScriptSpec(
        key: "test",
        value: "node test.js",
        preconditions: Some(When(
            if_not_present: ["test.js"],
            all_of: ["selftest"]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "node test.js")
        ]
    ),

    RunScriptSpec(
        key: "test",
        value: "tap --no-ts --node-arg=--require=ts-node/register 'tests/**.ts'",
        preconditions: Some(When(
            if_not_present: ["test"],
            all_of: ["typescript", "selftest"]
        )),
        versions: [
            VersionedScript(version: "0.3.0", value: "tap --no-ts --node-arg=--require=ts-node/register 'tests/**.ts'")
        ]
    ),

    RunScriptSpec(
        key: "test",
        value: "cross-env TS_NODE_FILES=true TS_NODE_PROJECT=./tsconfig.json c8 tap --ts --no-cov tests/",
        preconditions: Some(When(
            if_not_present: ["test"],
            all_of: ["typescript"]
        )),
        versions: [
            VersionedScript(version: "0.3.0", value: "tap --no-ts --node-arg=--require=ts-node/register tests/")
        ]
      ),

    RunScriptSpec(
        key: "start",
        value: "nodemon ./boltzmann.js",
        preconditions: Some(When(
            none_of: ["typescript"],
            if_not_present: ["start"]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "./boltzmann.js"),
            VersionedScript(version: "0.1.4", value: "nodemon ./boltzmann.js"),
        ]
    ),

    RunScriptSpec(
        key: "start",
        value: "nodemon ./boltzmann.ts",
        preconditions: Some(When(
            all_of: ["typescript"],
            if_not_present: ["start"]
        )),
        versions: [
            VersionedScript(version: "0.1.0", value: "./boltzmann.js"),
            VersionedScript(version: "0.1.4", value: "nodemon ./boltzmann.js"),
            VersionedScript(version: "0.4.3", value: "nodemon ./boltzmann.ts"),
        ]
    ),

    RunScriptSpec(
        key: "postinstall",
        value: "npm run boltzmann:tsbuild",
        preconditions: Some(When(
            all_of: ["typescript"],
            if_not_present: ["postinstall"]
        )),
        versions: [
            VersionedScript(version: "0.3.0", value: "npm run boltzmann:tsbuild")
        ]
    ),

    RunScriptSpec(
        key: "boltzmann:tsbuild",
        value: "tsc && cp package.json target/release && node -e 'require(\"fs\").chmodSync(require(\"path\").join(\"target\", \"release\", \"boltzmann.js\"), 0o755)'",
        preconditions: Some(When(
            all_of: ["typescript"]
        ))
    ),

    RunScriptSpec(
        key: "boltzmann:upgrade",
        value: "npx boltzmann-cli"
    ),

    RunScriptSpec(
        key: "boltzmann:routes",
        value: "node -e 'require(\"./boltzmann\").printRoutes()'",
        preconditions: Some(When(
            none_of: ["typescript"],
        ))
    ),

    RunScriptSpec(
        key: "boltzmann:routes",
        value: "node -r ts-node/register -e 'require(\"./boltzmann\").printRoutes()'",
        preconditions: Some(When(
            all_of: ["typescript"]
        ))
    ),

    RunScriptSpec(
        key: "boltzmann:esbuild",
        value: "node -r ts-node/register -e 'require(\"./boltzmann\").buildAssets(...process.argv.slice(1, 2))'",
        preconditions: Some(When(
            none_of: ["typescript"],
            all_of: ["esbuild"]
        ))
    ),

    RunScriptSpec(
        key: "boltzmann:esbuild",
        value: "node -r ts-node/register -e 'require(\"./boltzmann\").buildAssets(...process.argv.slice(1, 2))'",
        preconditions: Some(When(
            all_of: ["esbuild", "typescript"]
        ))
    ),

    RunScriptSpec(
        key: "boltzmann:docs",
        value: "npx boltzmann-cli --docs"
    )
]
